.nodes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nodes-level {
  display: flex;
  margin: 10px auto;
}

.node {
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid blueviolet;
  border-radius: 10px;
  padding: 15px;
}

.result-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #2f5165;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.result {
  text-align: center;
}

.restart {
  width: 120px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.form {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}